Package: libkdsoap-server2-dbgsym
Source: kdsoap
Version: 2.2.0+dfsg-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Pierson <contact@thomaspierson.fr>
Installed-Size: 1085
Depends: libkdsoap-server2 (= 2.2.0+dfsg-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libkdsoap-server2
Build-Ids: 02457878826c8619d98ad667a580b8962a9529b1
