Package: libkdsoap-dev
Source: kdsoap
Version: 2.2.0+dfsg-1
Architecture: amd64
Maintainer: Thomas Pierson <contact@thomaspierson.fr>
Installed-Size: 198
Depends: qt6-base-dev (>= 6.0.0~), libkdsoap1 (= 2.2.0+dfsg-1), libkdsoap-bin (= 2.2.0+dfsg-1), libkdsoap-server1 (= 2.2.0+dfsg-1)
Suggests: libkdsoap-doc
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://www.kdab.com/development-resources/qt-tools/kd-soap/
Description: Qt-based client-side and server-side SOAP component - devel files
 Qt-based client-side and server-side SOAP component. It can be used to
 create client applications for web services and also provides the means to
 create web services without the need for any further component such as a
 dedicated web server.
 .
 This package contains the development files
