Package: libkdsoap2-dbgsym
Source: kdsoap
Version: 2.2.0+dfsg-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Thomas Pierson <contact@thomaspierson.fr>
Installed-Size: 2513
Depends: libkdsoap2 (= 2.2.0+dfsg-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libkdsoap2
Build-Ids: ede3f61516ac0f5df971e917a1a18a09e0559ab8
